<div id="wrapper">
  <nav class="navbar milky-background navbar-fixed-top">
    <div class="">
      <div class="navbar-header" id="toggle-header">

        <a class="navbar-brand" id="menu-toggle" style="cursor: pointer;float:right;padding-right: 0px;color:white"><i class="glyphicon glyphicon-menu-hamburger"></i></a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-top-links navbar-right">
          <!--<li class="brand">Cornerstone</li>-->
          <!--<li class="logo-list"><img src="././app/img/logo.png" class="logo"></li>-->

          <!--/.dropdown -->
        </ul>
      </div>
    </div>
  </nav>
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-header">
        <a routerLink="/account">
          <div class="profile-display  milky-background">
            <div class="accBgImage">
              <div class="padding">
                <img class="profile-img" src="https://www.thersa.org/globalassets/profile-images/staff/ben-dellot.jpg">
              </div>
              <div class="profile-name">
                Pankaj Kharetwal
              </div>
            </div>
          </div>
        </a>
      </li>
     <li routerLinkActive="active" class="sidebar-items">
        <a href="#"  [routerLink]="['/admin/home']">
        <img class="sidebar-icon" src="http://icons.iconarchive.com/icons/custom-icon-design/pretty-office-4/256/home-icon.png">
         Home 
        </a>
     </li>
      <li routerLinkActive="active" class="sidebar-items" >
        <a href="#" [routerLink]="['/admin/new-university']">
        <img class="sidebar-icon" src="https://vignette2.wikia.nocookie.net/uinfo/images/1/1a/Uni_icon_6.png/revision/latest?cb=20150825065702">
        Add University
        </a>
      </li>
     <li routerLinkActive="active" class="sidebar-items" >
        <a href="#"[routerLink]="['/admin/new-department']">
        <img class="sidebar-icon" src="http://faranoor.com/uploads/chart_organization_348.jpg">
       Add Department
        </a>
     </li>
      <li routerLinkActive="active" class="sidebar-items">
        <a href="#"  [routerLink]="['/admin/new-employee']">
        <img class="sidebar-icon" src="https://cdn4.iconfinder.com/data/icons/pretty_office_3/256/Add-Male-User.png">
        Add employee
        </a>
      </li>
      
      <li routerLinkActive="active" class="sidebar-items">
        <a href="#" [routerLink]="['/admin/existing-department']">
        <img class="sidebar-icon" src="http://icons.iconarchive.com/icons/custom-icon-design/pretty-office-4/256/home-icon.png">
        Existing Department
        </a>
      </li>
     <li routerLinkActive="active" class="sidebar-items">
        <a href="#" [routerLink]="['/admin/add-role']">
        <img class="sidebar-icon" src="https://openclipart.org/image/2400px/svg_to_png/211693/matt-icons_contact-add.png">
          Add Role
        </a>
     </li>
      <li class="sidebar-items" (click)="logout()">
        <a href="" routerLinkActive="active">
        <img class="sidebar-icon" src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-9/256/Logout-icon.png">
         Logout 
        </a>
      </li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div style="display:none" GoogleChart></div>
    <router-outlet></router-outlet>
  </div>
  <!-- /#page-content-wrapper -->

</div>
