<!--new code  -->
<!-- <form class="form" [formGroup]="loginForm" (submit)="onSubmit()">
			<input type="text" name='username' id='username' formControlName="username" placeholder="username"/>
			<input type='password' name='password' id='password' formControlName="password" placeholder="password"/>
			<input type="submit" value="Sign in" [disabled]="loginForm.invalid"/>
			<div *ngIf="loginStart"></div>
			<div *ngIf="error">
				<p >Username or password invalid.</p>
			</div>
		</form> -->

<div class="background">
	<div class="heading">
		Strategic Planning
	</div>
	
	<div class="login">
		<div class="login-text">LOGIN</div>
	
		<form class="form" [formGroup]="loginForm" (submit)="onSubmit()">
			<div class="row login-name">
				<div class="col-lg-11 col-sm-11">
				<input type="text" name='username' id='username' formControlName="username" placeholder="username" class="name"/>
				</div>
			     <div class="col-lg-1 col-sm-1">
					<i class="fa fa-user white-text" aria-hidden="true"></i>
				 </div>
			 </div>
			<div class="row password">
				<div class="col-lg-11 col-sm-11">
				<input type='password' name='password' id='password' formControlName="password" placeholder="password" class="name" />
				</div>

				<div class="col-lg-1 col-sm-1">
					<i class="fa fa-lock white-text" aria-hidden="true"></i>
				</div>
			</div>
			<div class="login-button">
				
				<input type="submit" class="btn " value="Sign in" [disabled]="loginForm.invalid"/>
			<div *ngIf="loginStart"></div>
			<div *ngIf="error">
				<p >Username or password invalid.</p>
			</div>
			</div>
		</form>
	</div>

</div>
	