body {
  padding-top: 5rem;
}
.form-card{
    border-radius:5px;
    border:1px solid #ededed;
    box-shadow: 0px 0px 3px #ededed;
    padding:10px;
    margin-top:5px;
}
.center-align{
    text-align:center;
}
.blue-text{
    color:#4294fc;
}
.red-text{
    color:#e84342;
}

.container {
    padding: 2px 16px;
}
.form-card{
    border-radius:5px;
    border:1px solid #ededed;
    box-shadow: 0px 0px 3px #ededed;
    padding:10px;
    margin-top:5px;
}
.right{
    float:right;
}
.blue-text{
    color:#4294fc;
}
.red-text{
    color:#e84342;
}
.center-align{
    text-align:center;
}
bWhite{
    background:white;
}
.center-box{
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.link-button
{
    margin-top: -130px;
}
.nav-sp 
{
color: white;
}
. nav-sp:hover
{
    color: red !important;
}

.left-tooltip{
    margin-top: -50px !important;
    margin-left: 30px;
}
.cycle-margin{
    margin-top:-80px;
}
.nav>li>a{
    color:white;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #fff;
    color: #82c0f9 !important;
}