<nav class="navbar top navbar-fixed-top header">
  <div class="container">
    <div class="navbar-header" id="toggle-header">
    <a class="navbar-brand nav-sp" href="">Strategic Planning</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="" (click)="logout()"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div class="main-content">
  <router-outlet></router-outlet>
  </div>
</div>