<div class="background row no-margin">
  <div class="">
    <div class="row no-margin">
      <div class="col-lg-6">
        <div class="formCard">
          <div class="cardheader center-block milky-background">
            <div class="headertext">
              Add University
            </div>
          </div>
          <div class="formHeader">
            <!--Body-->
            <form class="form-horizontal margin-top50" [formGroup]="newUniversity" (submit)="onSubmit()">
              <div class="form-group">
                <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
                <div class="input-group">
                  <div class="input-group-addon">
                    <span class="glyphicon glyphicon-magnet"></span>
                  </div>
                  <input type="text" class="form-control" id="name" formControlName="university" placeholder="Name">
                </div>
              </div>
              <button type="submit" class="btn btn-indigo center-block">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--popup model-->
<div class="modal fade" id="utModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
        You have successfully added a new University.
        <div class="row no-margin">
          <div class="col-lg-6">
          </div>
          <div class="col-lg-6">
            <div class="row no-margin">
              <div class="col-lg-6 padding0">
                <button type="button" class="btn btn-secondary btn-xs" data-dismiss="modal" [routerLink]="['/admin']">Close</button>
              </div>
              <div class="col-lg-6 padding0">
                <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Add More</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>