<nav class="navbar navbar-default navbar-fixed-top header">
  <div class="container-fluid">
    <div class="navbar-header" id="toggle-header">
      <a class="navbar-brand" href="">Strategic Planning</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="" (click)="logout()"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="main-content">
    <h1>Assigned Objectives</h1>
    <objective-component [objective]="assignedActivities"></objective-component>
  </div>
</div>