<nav class="navbar navbar-default navbar-fixed-top header">
  <div class="container-fluid">
    <div class="navbar-header" id="toggle-header">
      <a class="navbar-brand" href="">Strategic Planning</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="" (click)="logout()"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="main-content">
    <h1>Assigned Objectives</h1>
    <div class="panel-group" id="accordion">
      <div class="panel panel-info" *ngFor="let obj of assignedActivities; let i = index;">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" [attr.data-target]="'#obj' + i">
          <b>{{i+1}}) Objective :</b> {{obj.objective}}
        </div>

        <div class="panel-collapse collapse" [attr.id]="'obj' + i" [ngClass]="{'in': i == 0}">
          <div class="panel-body">
            <p *ngIf="!obj.initiatives.length">No Initiative added yet for this Objective.</p>
            <div class="panel-group" id="accordion2">
              <div class="panel panel-default" *ngFor="let ini of obj.initiatives; let j = index;">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion2" [attr.data-target]="'#obj' + i + 'ini' + j"><b>{{i+1}}.{{j+1}}) Initiative :</b> {{ini.initiative}}
                </div>
                <div class="panel-collapse collapse" [attr.id]="'obj' + i + 'ini' + j" [ngClass]="{'in': j == 0}">
                  <div class="panel-body">
                    <p *ngIf="!ini.activities">No Activity added yet for this Initiative</p>
                    <div class="panel-group" id="accordion3">
                      <div class="panel panel-default" *ngFor="let act of ini.activities; let k = index;">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion3" [attr.data-target]="'#obj' + i + 'ini' + j + 'act' + k">
                          <b>{{i+1}}.{{j+1}}.{{k+1}}) Activity :</b> {{act.activity}}
                        </div>
                        <div class="panel-collapse collapse" [attr.id]="'obj' + i + 'ini' + j + 'act' + k" [ngClass]="{'in': k == 0}">
                          <div class="panel-body">
                            <p *ngIf="!act.departments">The respective departments have not done audit for this activity</p>
                            <b>Perspective Departments</b>
                            <div class="panel-group" id="accordion4">
                              <div class="panel panel-default" *ngFor="let department of act.departments;let dept = index;">
                                <div class="panel-heading row" style="margin:0px !important;">
                                  <div class="col-sm-6 col xs-6" style="padding:0px !important;" data-toggle="collapse" data-parent="#accordion4" [attr.data-target]="'#obj' + i + 'ini' + j + 'act' + k + 'dept' + dept">
                                    <b>Department {{dept+1}}):</b> {{department.department}}
                                  </div>
                                </div>
                                <div class="panel-collapse collapse" [attr.id]="'obj' + i + 'ini' + j + 'act' + k + 'dept' + dept" [ngClass]="{'in': dept == 0}">
                                  <div class="panel-body">
                                    <p *ngIf="!department.measures">No Measure set yet for this Activity</p>
                                    <div class="panel-group" id="accordion5">
                                      <div class="panel panel-default" *ngFor="let measr of department.measures;let l = index;">
                                        <div class="panel-heading row" style="margin:0px !important;">
                                          <div class="col-sm-6 col xs-6" style="padding:0px !important;" data-toggle="collapse" data-parent="#accordion5" [attr.data-target]="'#obj' + i + 'ini' + j + 'act' + k + 'dept' + dept + 'measr' + l">
                                            <b>{{i+1}}.{{j+1}}.{{k+1}}.{{l+1}}) Measure:</b> {{measr.measure}}
                                          </div>
                                        </div>
                                        <div class="panel-collapse collapse" [attr.id]="'obj' + i + 'ini' + j + 'act' + k + 'dept' + dept + 'measr' + l" [ngClass]="{'in': l == 0}">
                                          <div class="panel-body">
                                            <label>Current Level:</label> {{measr.currentLevel}}
                                            <span class="glyphicon glyphicon-time pull-right"><label> {{measr.frequency}}</label></span>
                                            <div class="panel panel-default">
                                              <div class="panel-heading text-center"><b>Estimated Target</b></div>
                                              <div class="panel-body">
                                                <div class="panel-group" id="accordionTable">
                                                  <table class="table table-hover">
                                                    <thead>
                                                      <tr>
                                                        <th>Year</th>
                                                        <th>Estimated Cost</th>
                                                        <th>Quarter</th>
                                                        <th>Target</th>
                                                        <th>Audit Date</th>
                                                        <th>Actual Level</th>
                                                        <th>Actual Cost</th>
                                                        <th></th>
                                                      </tr>
                                                    </thead>
                                                    <tbody *ngFor="let tdl of measr.annualTargets;let at = index;">
                                                      <tr>
                                                        <td style="vertical-align: middle;" [attr.rowspan]="tdl.target.quarterInfo.length + 2">{{ tdl.target.year }}</td>
                                                        <td style="vertical-align: middle;" [attr.rowspan]="tdl.target.quarterInfo.length + 2">{{tdl.target.estimatedCost}}</td>
                                                      </tr>
                                                      <template class="panel panel-info" let-lev ngFor [ngForOf]="tdl.target.quarterInfo" let-in="index">
                                                        <tr>
                                                          <td>{{lev.quarter}}</td>
                                                          <td>{{lev.estimatedLevel}}</td>
                                                          <td>{{lev.startDate}} To {{lev.endDate}}</td>
                                                          <td>{{lev.currentLevel}}</td>
                                                          <td>{{lev.currentCost}}</td>
                                                          <td data-toggle="collapse" [attr.data-target]=                                                                  "'#q'+l+at+in" data-parent="#accordionTable">                                                                   <i class="fa fa-sort-desc" aria-hidden="true"></i>                                                              </td>
                                                        </tr>
                                                        <tr>
                                                          <td class="panel-collapse status-color collapse"                                                                [attr.id]="'q'+l+at+in" colspan="5">
                                                            <div class="panel-body">
                                                              <div class="panel panel-default">
                                                                <div class="panel-heading">
                                                                  <b>Attachments</b>
                                                                  <span class="pull-right"><i class="glyphicon                                                                    glyphicon-plus-sign" data-toggle="modal"                                                                        data-target="#evidenceForm"></i></span>
                                                                </div>
                                                                <div class="panel-body">
                                                                  <b>1)</b>:Adffs.pdf
                                                                </div>
                                                              </div>
                                                            </div>
                                                          </td>
                                                        </tr>
                                                      </template>
                                                    </tbody>
                                                  </table>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>