 .bg1 {
     background-image: url('https://digitalcreativeage.com/wp-content/themes/digital/assets/img/sliders/back3.jpg');
 }

 .btn {
     width: 90%;
     background-color: #26ace3;
     border: none;
     color: white;
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     margin: 14px 2px;
     cursor: pointer;
 }