<div class="background row no-margin ">
  <div class="row no-margin">
    <div class="col-lg-12">
      <div class="formCard">
        <div class="cardheader center-block ">
          <div class="headertext">
            Add Employee
          </div>
        </div>
        <div class="formHeader">
          <form [formGroup]="newEmployee" class="margin-top50" (submit)="onSubmit()">
            <div class="row no-margin">
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="sr-only" for="fName">Amount (in dollars)</label>
                  <div class="input-group">
                    <div class="input-group-addon">
                      <span class="glyphicon glyphicon-education"></span>
                    </div>
                    <input type="text" class="form-control" formControlName="firstName" id="fName" aria-describedby="fnameHelp" placeholder="First Name">
                  </div>
                </div>
                <div class="form-group">
                  <label class="sr-only" for="mName">Amount (in dollars)</label>
                  <div class="input-group">
                    <div class="input-group-addon">
                      <span class="glyphicon glyphicon-education"></span>
                    </div>
                    <input type="text" class="form-control" formControlName="middleName" id="mName" aria-describedby="mnameHelp" placeholder="Middle Name">
                  </div>
                </div>
                <div class="form-group">
                  <label class="sr-only" for="lName">Amount (in dollars)</label>
                  <div class="input-group">
                    <div class="input-group-addon">
                      <span class="glyphicon glyphicon-education"></span>
                    </div>
                    <input type="text" class="form-control" formControlName="lastName" id="lName" aria-describedby="lnameHelp" placeholder="last Name">
                  </div>
                </div>
                <div class="form-group">
                  <label class="sr-only" for="exampleInputEmail1">Amount (in dollars)</label>
                  <div class="input-group">
                    <div class="input-group-addon">
                      <span class="glyphicon glyphicon-education"></span>
                    </div>
                    <input type="email" class="form-control" formControlName="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                  </div>
                </div>
                <fieldset class="form-group row no-margin">
                  <div class="col-md-12 col-xs-12 gender-button">
                  <label>Gender</label>
                  <span class=" form-check ">
                  <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="gender" formControlName="gender" id="optionsRadios1" value="male" checked>
                  Male
                  </label>
                </span>
                  <span class="form-check">
                  <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="gender" formControlName="gender" id="optionsRadios2" value="female">
                  Female
                  </label>
                </span>
                  </div>
                </fieldset>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="sr-only" for="contactNo">Amount (in dollars)</label>
                  <div class="input-group">
                    <div class="input-group-addon">
                      <span class="glyphicon glyphicon-earphone"></span>
                    </div>
                    <input class="form-control" type="tel" formControlName="contactNo" id="contactNo" placeholder="Contact number">
                  </div>
                </div>
                <div class="form-group">
                  <label class="sr-only" for="exampleSelect1">Amount (in dollars)</label>
                  <div class="input-group">
                    <div class="input-group-addon">
                      <span class="glyphicon glyphicon-education dep-icon"></span>
                    </div>
                    <div class="row no-margin" formArrayName="employeeRoles" *ngFor="let er of newEmployee.controls.employeeRoles.controls; let i = index;">
                      <span [formGroupName]="i">
                      <select class="form-control" formControlName="roleId" id="exampleSelect1">
                         <option selected disabled value="">select department</option>
                        <option *ngFor="let role of roles;let r = index" value={{role.id}}>{{role.role}}</option>
                      </select>
                    </span>
                    </div>
                  </div>
                  <br>
                  <div class="form-group">
                    <label class="sr-only" for="exampleSelect2">Amount (in dollars)</label>
                    <div class="input-group">
                      <div class="input-group-addon">
                        <span class="glyphicon glyphicon-education dep-icon"></span>
                      </div>
                      <div class="row no-margin" formArrayName="employeeRoles" *ngFor="let er of newEmployee.controls.employeeRoles.controls; let i = index;">
                        <span [formGroupName]="i">
                        <select class="form-control" formControlName="departmentId" id="exampleSelect2">
                       <option selected disabled value="">select department</option>
                        <option *ngFor="let dept of departments;let d = index;" value={{dept.departmentId}}>{{dept.department}}</option>
                        </select>
                      </span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">

                    <input class="form-control" type="date" value="2011-08-19" formControlName="joiningDate" id="joiningDate">
                  </div>
                </div>
                <div class="row">
                  <button type="submit" class="btn btn-primary" [disabled]="newEmployee.invalid">Submit</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- --- Modal code --- -->
<div class="modal fade" id="empModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        You have successfully added a new Employee.
      </div>
      <div class="row">
        <div class="col-lg-6">
        </div>
        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-6 padding0">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" [routerLink]="['/admin-home']">Close</button>
            </div>
            <div class="col-lg-6 padding0">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Add More</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
