/*.panel {
    border: 0;
}*/
/*modal css*/
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.padding-10{
    padding: 10px;
}

paddint-5{
  padding: 5px !important;
}

.hideBtn{
  display: none;
}

thead th, thead td {
  text-align: center;
}
tbody th, tbody td {
  text-align: center;
}
tfoot th, tfoot td {
  text-align: center;
}

.add-button
{
  background-color: red;
}

.assign-button{

margin-right: 20px;
background-color: red;

}

.one-ob{
      color: black;
    background-color: #00695C;
    border-color: #d6e9c6;
}

.two-ob
{
    color: black;
    background-color: #00897B;
    border-color: #d6e9c6;
}

.three-ob{
    color: #0c480e;
    background-color: #80CBC4;
    border-color: #ddd;
}

.four-ob{
    color: #652607;
    background-color: #4DB6AC;
    border-color: #ddd;
}

.five-ob{
    color: #8a1a1a;
    background-color: #B2DFDB;
    border-color: #ddd;
}

.six-ob{
  color: #333;
    background-color: #E0F2F1;
    border-color: #ddd;
}



/*Custom designs*/
.custom-header{
    background: #2874f0;
    height: 80px;
    padding: 1px 0 0px 10px;
    color: white;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

.right-margin{
  margin-right: 10px;
}

.background-transparent{
  background:transparent;
}


.objective-header{
 background: #2874f0;
 height: 50px;
}


.objective-text{
    font-size: 15px;
    padding:-5px;
    color: white;
    margin: 15px;
}

.objective-Initiatives{
  background: yellow;
  height: 40px;
  color: black;


 
}

.Initiatives-text{
    font-weight: bold;
    font-size: 17px;
    padding: 9px;
    text-align: center;
    width: 100%;

}

.custom-panel{
padding: 1px;

}

