.current-quarter{
  background: lightgreen;
}

.status-color{
    position: absolute;
    width: 70.9%;
    background: whitesmoke;
    box-shadow: 5px 5px 5px grey;
    z-index: 1;
}

/*---- Chat box messages css ----------*/
.myMsg{
    float:right;
    width:100%;
}
.myImg{
    float:right;
    width: 60px;  
    height: 50px;  
    padding: 0px 5px 0px 5px;
    border-radius: 100% !important;    
}
.myText{
    display: -webkit-box;
    text-align: -webkit-right;
    padding: 4px;
    width: 70%;
    float: right;
    border-radius: 10px !important;
}
.myText-style{
    background: #e2ffc7 !important;
    padding: 5px;
    border-radius: 20px !important;
    display: grid;
}
.myMsgDate{
    float:right;
    margin: 0px 5px 10px 0px;
    font-size: 10px;
    color: gray;
}
.msg{
    float:left;
    width:100%;
}
.img{
    float:left;
    width: 60px;
    height: 50px;
    padding: 0px 5px 0px 5px;
    border-radius: 100% !important;
}
.text{
    display: -webkit-box;
    padding: 4px;
    width:70%;
    border-radius: 10px !important;
}
.text-style{
    background: white !important;
    padding: 5px;
    border-radius: 20px !important;
    display: grid;
}
.msgDate{
    float:left;
    margin: 0px 0px 10px 5px;
    font-size: 10px;
    color: gray;
}

.disabled-click {
    pointer-events: none;
    color:#e1e1e1;
}

h1{
    font-family: 'Inconsolata';
    font-weight: bold;
    letter-spacing: 0.1em;
}
.main-text{
    margin: auto;
    display: block;
}
/*profile card style*/
.profile-card:after {
    bottom: 100%;
    left: 84%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: white;
    border-width: 10px;
    margin-left: -1px;
}
/*profile card style*/
.profile-card:after {
    bottom: 100%;
    left: 84%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: white;
    border-width: 10px;
    margin-left: -1px;
}
.profile-card{
z-index:10000;
outline: transparent;
position: absolute;
top: 58px;
right: 80px;
width:300px;
height: 177px;
background: white;
/*border-style: solid;*/
border-radius: 5px;
border:#b1b1b1 solid 0.5px;

}
.profile-card-pic{
/*display: block !important;*/
margin: 10px 15px ;
/*display: auto !important;*/
width: 100px;
height: 100px;
border-style: solid;
border-radius:100%;
}
.profile-card-name,.profile-card-email,.profile-card-role{
text-align: center;
 width: 97%;
 white-space: pre-line;
}

.profile-card-role{
font-size: 13px;
color: grey;
}

.profile-card-email{
font-size: 10px;
color: grey;
}
.custom-buttons{
display: block;
margin: auto;
width: 80px;
}
.profile-card-footer{
background: #7d8886;
margin: 0px;
padding: 10px;
border-top: #b1b1b1 solid 0.5px;
}
.coloumn-middle{
text-align: center;
height: 120px;
}

.coloumn-middle:before{
content: "";
display: inline-block;
vertical-align: middle;
height: 100%;
}

.align-middle{
display: inline-block;
vertical-align: middle;
}