:root {
    --main-color: #2b3643;
    --shodow-color: #ea212e;
}

/*body {
   background: #ddd;
} */

.main-content {
    margin-top: 100px;
}


/* Active list color */

ul.nav.nav-tabs {
    border: 1px solid var(--main-color)!important;
}

ul.nav.nav-tabs li a {
    color: white;
}

li.active a {
    background: linear-gradient(#36c6d3, #36c6d3), #36c6d3 !important;
    color: white !important;
    font-weight: bold;
}

.nav>li>a:focus,
.nav>li>a:hover {
    background: #0c0a0a !important;
    /* Light Red Color */
    color: white !important;
}


/*.panel-default>.panel-heading{
    color: #fff;
    background-color: #0c0a0a;
}
}*/

.pagination>li>a,
.pagination>li>span {
    color: #8585ec;
}

a {
    color: white;
}

.img-center {
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    margin: auto;
}

.logo {
    width: 67px !important;
    height: auto !important;
    box-shadow: 0px 5px 12px #616161;
    border-radius: 100%;
}

hr.style-line {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

#myModal-card {
    padding: 10px;
}

.card-modal {
    padding-top: 0;
    text-align: center;
}

.modal-heading,
.modal-name {
    background-color: #3a3838;
    color: white;
}

.modal-image {
    display: block;
    margin: auto;
    width: 100%;
    border-radius: 100% !important;
    width: 120px;
    height: 120px;
}

.modal-name {
    font-size: 22px;
}

.modal-class {
    font-size: 70%;
    color: gray;
}


/*modal media query*/

@media screen and (max-width: 767px) {
    #myModal-card {
        width: 100%;
    }
    .modal-image {
        width: 80px;
        height: 80px;
    }
}

@media screen and (max-width: 479px) {
    #myModal-card {
        width: 100%;
    }
    .modal-image {
        width: 50px;
        width: 50px;
    }
    /* modal media query end*/
}

.footer {
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
    font-weight: bold !important;
    color: white;
}

.margin-top50 {
    margin-top: 50px;
}

.padding0 {
    padding: 0px !important;
}

.cardheader {
    background-color: red;
    width: 75%;
    height: 50px;
    position: absolute;
    margin-top: -15px;
    box-shadow: 0 5px 12px #ff9fa6;
}

.headertext {
    color: white;
    padding: 10px;
    text-align: -webkit-center;
    font-weight: bold;
    font-size: 20px;
}

.formHeader {
    padding: 10px;
    border-bottom-color: grey;
    line-height: 1.1;
    margin: 10px;
}

.formCard {
    width: 100%;
    background-color: white;
    padding: 0 50px 0 50px;
    margin: 25px;
}

.formCard {
    width: 100%;
    background-color: white;
    padding: 0 50px 0 50px;
    margin: 25px;
}
.Itext{
    font-family: 	"serif";
    font-size: 34px;
}