/*loader*/

/*===============*/

body{
    background: #ddd;
}

/* Modal */
/*.modal-header{
background: #ea212e;
}*/
.modal-title{
    float: left;
}

/* Active list color */
ul.nav.nav-tabs{
    border: 1px solid #ea212e !important;
}
ul.nav.nav-tabs li a{
    color:black;
}
li.active a{
    background: #ea212e !important;
    color:white !important;
    font-weight:bold;
}
.nav>li>a:focus, .nav>li>a:hover{
    background: #ea212e !important; /* Light Red Color */
    color:white !important;
}
.panel-default>.panel-heading{
    color: #fff;
    background-color: #ea212e;
}
.pagination>li>a, .pagination>li>span{
    color:#ea212e;
}
a{
    color:#ea212e;
}

/*modal css*/
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

/*adding border in homework and circular*/
.container-border{
  width: 100%;
  border-style: solid;
  border-color:#cacacc;
}

.modal-header{
    background:#ea212e;
    color:white;
    box-shadow: 0 0 10px black;
}
.modal-footer{
     background: #e1e1e1;
     box-shadow: 0 0 10px black;
}
.btn-circle{
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 15px;
}

  .glyphicon-calendar:before{
    font-size: 20px;
    padding-right: 10px;
}
.badge{
    background-color: #ea212e;
}
.img-center{
    position:absolute;
    left:50%; 
    top:50%;
    display:block; margin:auto;
}
.logout-icon{
    font-size: 30px;
}

.logo-list{
    position: absolute !important;
    right:10px;;
    top: 5px;
}
.logo{
    width: 67px !important;
    height: auto !important;
    box-shadow: 0px 5px 12px #616161;
    border-radius: 100%;
}
.btn-danger{
    background-color: #c9302c !important;
}
.btn-danger:hover{
    color: #c9302c !important;
    background-color: white !important;
}
/*card*/
.card{
    margin: 3% 1% 0% 2%;
    padding:  2% 4% ;
    width: 22%;
    box-shadow: 0px 2px 5px #c7c1c1, -2px 4px 5px #c7c1c1, 10px 8px 15px #c7c1c1;
    float: left;
    font-family: sans-serif;
    font-weight: 200;
    font-size: 15px;
    text-align: center;
    
}
.card:hover{
         box-shadow: 0px 2px 5px #c7c1c1, -2px 6px 8px #cec7c7, 15px 7px 15px #c7c1c1;
}
.image{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 120px;
    height: 120px;
    border-radius: 100% !important;
}

.glyphicon-pencil,.glyphicon-comment{
    font-size: 20px;
}
.expand{
    float: right;
    padding-right: 2%;
}
.expand:hover{
    color:#ea212e;
}

.name{
    font-size: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    
}
.class{
    font-size: 15px;
    color: grey;
}

.title{
  text-align: left;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  margin-bottom: 4%;
}

/*card end*/
/* start of card media query */
@media screen and (max-width: 767px) {
    .card{
        width: 45%;
        padding: 20px;
    }

}

@media screen and (max-width: 900px) {
    .card{
        width: 29%;
        padding: 20px;
    }
}

@media screen and (max-width: 479px) {
     .card{
         width: 100%;
     }
}


/*end of card media query*/

/*styling of horizontal lines*/

hr.style-line {
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}
#myModal-card{
    padding: 10px;
}
.card-modal{
    padding-top: 0;
    text-align: center;
}
.modal-heading,.modal-name{
    background-color: #3a3838;
    color: white;
}
.modal-image{
    display: block;
    margin: auto;
    width: 100%;
    border-radius: 100% !important;
    width: 120px;
    height: 120px;
}
.modal-name{
    font-size: 22px;
}

.modal-class{
    font-size: 70%;
    color: gray;
}

/*modal media query*/
@media screen and (max-width: 767px) {
    #myModal-card{
        width: 100%;
        
    }
 .modal-image{
     width: 80px;
     height: 80px;

}
}

@media screen and (max-width: 479px) {
    #myModal-card{
        width: 100%;
    }
    .modal-image{
        width: 50px;
        width: 50px;
    }
  /* modal media query end*/

.footer{
    position:absolute;
    bottom:5px;
    width:100%;
    text-align:center;
    font-weight:bold !important;
    color:white;
}